<nav class="nav">
  <ul class="nav-list">
    <li class="nav-list__item">
      <a href="#" class="logo">
        <img class="logo__img" src="/assets/logo.png" alt="logo">
      </a>
    </li>
    <li class="nav-list__item">
      <a (click)="openForm()" class="nav-list__link">Registration Form</a>
    </li>
  </ul>
</nav>
<app-form *ngIf="isOpenForm" (message)="onChanged($event)"></app-form>
<div *ngIf="isOpenPopup"class="pop-up">
  <h2>
    Thanks you for registering the {{message.name}}
    <span *ngIf="message.city">from the city {{message.city}}</span>.
  </h2>
</div>